
#photo{
    width: 150px;
    height: 150PX;
}

.align{
    align-items: center;
    justify-self:center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.flex-container {
    display:flex;
    background-color: black;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: row;
    
  }
  
  .flex-item {
    background-color: grey;
    width: 200px;
    margin: 10px;
    text-align: center;
  }

  .choix{
    background-color: grey;
    width: 200px;
    margin: 10px;
    text-align: center;
  }
  